.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}
.pagination {
  margin: 0 auto;
  padding-bottom: 20px;
}
.pagination select {
  font-size: 19px;
  border: 1px solid orange;
  border-radius: 3px;
}
.pagination .selected {
  background-color: orange;
  color: white;
}
.pagination button {
  margin-right: 10px;
  border: 1px solid orange;
  border-radius: 3px;
  background-color: #fff;
  font-size: 18px;
  padding: 2px 9px;
}
.cart-container {
  background-color: rgba(255, 153, 0, 0.3);
}
@media screen and (max-width: 1100px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
